body {
  background-image: url(../images/kagehisa.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  object-fit: cover;
  background-position: center;
}

.mainRow {
  display: flex;
  justify-content: space-between;
}

.secondRow {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.thirdRow {
  display: flex;
  justify-content: right;
  margin-right: 1vw;
  justify-content: space-between;
}
.charDescription {
  width: 45vh;
  height: 30vh;
  opacity: 40%;
  border-radius: 6%;
  text-align: left;
  color: aliceblue;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  font-family: "skyrimFont";
  font-size: medium;
}
.charDescription:hover {
  transform: scale(2, 2) translate(7vw, 4vw);
}

.coinFlip {
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transform-style: preserve-3d;
}

.coinFlip:hover {
  transform: rotateY(180deg);
}
.dama {
  width: 47vh;
  height: 45vh;
  border-radius: 50%;
  border: 2px solid rgb(73, 77, 83);
  margin-right: 2vw;
  backface-visibility: hidden;
  position: absolute;
}

.damaDescription {
  width: 45vh;
  height: 45vh;
  border-radius: 50%;
  margin-right: 2vw;
  text-align: center;
  color: aliceblue;
  opacity: 40%;
  backface-visibility: hidden;
  transform: rotateY(-180deg);
  font-family: "skyrimFont";
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.job {
  width: 45vh;
  height: 45vh;
  border-radius: 50%;
  border: 2px solid rgb(64, 67, 71);
  backface-visibility: hidden;
  position: absolute;
}

.jobDescription {
  width: 45vh;
  height: 45vh;
  border-radius: 50%;
  text-align: center;
  color: aliceblue;
  opacity: 40%;
  backface-visibility: hidden;
  transform: rotateY(-180deg);
  font-family: "skyrimFont";
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.secondRow .coinFlip {
  margin-left: 25vw;
}

.dog {
  width: 45vh;
  height: 45vh;
  border-radius: 50%;
  border: 2px solid rgb(60, 63, 66);
  backface-visibility: hidden;
  position: absolute;
}
.dogDescription {
  width: 45vh;
  height: 45vh;
  border-radius: 50%;
  text-align: center;
  color: aliceblue;
  opacity: 40%;
  backface-visibility: hidden;
  transform: rotateY(-180deg);
  font-family: "skyrimFont";
  display: flex;
  flex-direction: column;
  justify-content: center;
}
a {
  color: aliceblue;
  opacity: 30%;
  align-self: flex-end;
  font-size: 25px;
  font-family: "skyrimFont";
}

@font-face {
  font-family: "skyrimFont";
  src: url("balgruf.woff");
}
